@import 'tailwindcss';

* {
	font-family: 'Source Sans Pro', sans-serif;
}

.pin {
	animation: pin-fall 1s normal ease-in;
}

.pin .good {
	animation: pin-bounce 1s infinite ease-in-out;
}

@keyframes pin-bounce {
  0%  { scale: 1 1 }
  50%  { scale: 1 0.95 }
  100% { scale: 1 1 }
}

@keyframes pin-fall {
  0%  { translate: 0 -80vh }
  100%  { translate: 0 0 }
}

.bad-pin {
	transition: all 2s ease-in-out;
	filter: grayscale(0);
	opacity: 1;
}

.bad {
	filter: grayscale(1);
	opacity: 0.75;
}

.invis {
	opacity: 0;
}

.overlay-container {
	color: rgb(0, 121, 52);
}

.overlay-contents {
	background-color: white;
}

.text-chunk {
	height: 10vh;
}

.continue-btn {
	cursor: pointer;
	text-decoration: none;
	font-family: Gelasio;

	/* box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5); */

	animation: btn-bounce 3s infinite ease-in-out;

	font-size: 36px;
}

.continue-btn:hover {
	color: rgb(0, 121, 52);
}

@keyframes btn-bounce {
  0%  { scale: 1 1 }
  50%  { scale: 1 0.8 }
  100% { scale: 1 1 }
}

